parameters:
	ignoreErrors:
		-
			message: "#^Method Zenstruck\\\\Browser\\:\\:assertNotOn\\(\\) has parameter \\$parts with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\:\\:assertOn\\(\\) has parameter \\$parts with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\:\\:selectField\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\:\\:selectFieldOptions\\(\\) has parameter \\$values with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser.php

		-
			message: "#^Parameter \\#2 \\$path of method Behat\\\\Mink\\\\Element\\\\TraversableElement\\:\\:attachFileToField\\(\\) expects string, array\\<string\\>\\|string given\\.$#"
			count: 1
			path: src/Browser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Assertion\\\\SameUrlAssertion\\:\\:__construct\\(\\) has parameter \\$partsToMatch with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Assertion/SameUrlAssertion.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Assertion\\\\SameUrlAssertion\\:\\:context\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Assertion/SameUrlAssertion.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Assertion\\\\SameUrlAssertion\\:\\:parseUrl\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Assertion/SameUrlAssertion.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Assertion\\\\SameUrlAssertion\\:\\:parseUrl\\(\\) should return array but returns array\\<string, int\\|string\\>\\|false\\.$#"
			count: 1
			path: src/Browser/Assertion/SameUrlAssertion.php

		-
			message: "#^Parameter \\#1 \\$array of function array_keys expects array, array\\<string, int\\|string\\>\\|false given\\.$#"
			count: 1
			path: src/Browser/Assertion/SameUrlAssertion.php

		-
			message: "#^Property Zenstruck\\\\Browser\\\\Assertion\\\\SameUrlAssertion\\:\\:\\$partsToMatch type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Assertion/SameUrlAssertion.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\BrowserKitBrowser\\:\\:delete\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/BrowserKitBrowser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\BrowserKitBrowser\\:\\:get\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/BrowserKitBrowser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\BrowserKitBrowser\\:\\:patch\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/BrowserKitBrowser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\BrowserKitBrowser\\:\\:post\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/BrowserKitBrowser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\BrowserKitBrowser\\:\\:put\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/BrowserKitBrowser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\BrowserKitBrowser\\:\\:request\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/BrowserKitBrowser.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\BrowserKitBrowser\\:\\:setDefaultHttpOptions\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/BrowserKitBrowser.php

		-
			message: "#^Parameter \\#1 \\$token of method Symfony\\\\Component\\\\HttpKernel\\\\Profiler\\\\Profiler\\:\\:loadProfile\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: src/Browser/HttpBrowser.php

		-
			message: "#^Cannot access offset 'query' on array\\{scheme\\?\\: string, host\\?\\: string, port\\?\\: int, user\\?\\: string, pass\\?\\: string, path\\?\\: string, query\\?\\: string, fragment\\?\\: string\\}\\|false\\.$#"
			count: 2
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:__construct\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:create\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:files\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:merge\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:parameters\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:server\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:withBody\\(\\) has parameter \\$body with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:withFiles\\(\\) has parameter \\$files with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:withHeaders\\(\\) has parameter \\$headers with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:withQuery\\(\\) has parameter \\$query with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\HttpOptions\\:\\:withServer\\(\\) has parameter \\$server with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Parameter \\#1 \\$options of class Zenstruck\\\\Browser\\\\HttpOptions constructor expects array, array\\|Zenstruck\\\\Browser\\\\HttpOptions given\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Parameter \\#3 \\$subject of function str_replace expects array\\|string, int\\|string given\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Property Zenstruck\\\\Browser\\\\HttpOptions\\:\\:\\$options type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/HttpOptions.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Mink\\\\BrowserKitDriver\\:\\:getFormField\\(\\) should return Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField but returns array\\<Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField\\>\\|Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField\\.$#"
			count: 1
			path: src/Browser/Mink/BrowserKitDriver.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Mink\\\\BrowserKitDriver\\:\\:getResponseHeaders\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Mink/BrowserKitDriver.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Mink\\\\BrowserKitDriver\\:\\:getValue\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Mink/BrowserKitDriver.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Mink\\\\BrowserKitDriver\\:\\:setValue\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Mink/BrowserKitDriver.php

		-
			message: "#^Parameter \\#1 \\$path of function dirname expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: src/Browser/Mink/BrowserKitDriver.php

		-
			message: "#^Parameter \\#1 \\$value of method Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField\\:\\:setValue\\(\\) expects string\\|null, array\\|bool\\|string given\\.$#"
			count: 1
			path: src/Browser/Mink/BrowserKitDriver.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Mink\\\\PantherDriver\\:\\:getValue\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Mink/PantherDriver.php

		-
			message: "#^Method Zenstruck\\\\Browser\\\\Mink\\\\PantherDriver\\:\\:setValue\\(\\) has parameter \\$value with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Browser/Mink/PantherDriver.php

		-
			message: "#^Parameter \\#1 \\$value of method Symfony\\\\Component\\\\DomCrawler\\\\Field\\\\FormField\\:\\:setValue\\(\\) expects string\\|null, array\\|bool\\|string given\\.$#"
			count: 1
			path: src/Browser/Mink/PantherDriver.php

		-
			message: "#^Parameter \\#3 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\|bool\\|string given\\.$#"
			count: 1
			path: src/Browser/Mink/PantherDriver.php

