name: CI

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1,16 * *'

jobs:
  tests:
    name: PHP ${{ matrix.php }}, SF ${{ matrix.symfony }} - ${{ matrix.stability }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: [7.4, 8.0]
        stability: [hightest]
        symfony: [4.4.*, 5.2.*]
        include:
          - php: 7.4
            stability: lowest
            symfony: '*'
          - php: 8.0
            stability: highest
            symfony: '@dev'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Setup chromedriver
        uses: nanasess/setup-chromedriver@v1.0.1

      - name: Install Symfony Flex
        run: composer global require --no-progress --no-scripts --no-plugins symfony/flex dev-main

      - name: Set minimum-stability to dev
        run: composer config minimum-stability dev
        if: ${{ matrix.symfony == '@dev' }}

      - name: Install dependencies
        uses: ramsey/composer-install@v1
        with:
          dependency-versions: ${{ matrix.stability }}
          composer-options: --prefer-dist
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}

      - name: Install PHPUnit
        run: vendor/bin/simple-phpunit install

      - name: Test
        run: vendor/bin/simple-phpunit -v --exclude-group panther

      - name: Test Panther Browser (Chrome)
        run: vendor/bin/simple-phpunit -v --group panther
        env:
          PANTHER_BROWSER: chrome

#      - name: Test Panther Browser (Firefox)
#        run: vendor/bin/simple-phpunit --teamcity --group panther
#        env:
#          PANTHER_BROWSER: firefox

  code-coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          coverage: xdebug
          ini-values: xdebug.mode=coverage

      - name: Setup chromedriver
        uses: nanasess/setup-chromedriver@v1.0.1

      - name: Install dependencies
        uses: ramsey/composer-install@v1
        with:
          composer-options: --prefer-dist

      - name: Install PHPUnit
        run: vendor/bin/simple-phpunit install

      - name: Test with coverage
        run: vendor/bin/simple-phpunit -v --coverage-text --coverage-clover coverage.xml
        env:
          PANTHER_BROWSER: chrome

      - name: Publish coverage report to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./coverage.xml

  composer-validate:
    name: Validate composer.json
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          coverage: none

      - name: Validate composer.json
        run: composer validate --strict --no-check-lock

  cs-check:
    name: PHP Coding Standards
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2.3.3

      - name: Setup PHP
        uses: shivammathur/setup-php@2.7.0
        with:
          php-version: 7.4
          coverage: none
          tools: php-cs-fixer

      - name: Check CS
        run: php-cs-fixer fix --dry-run --diff --diff-format=udiff
